<div class="form">
  <%= form_with(model: @describe, local: true) do |f| %>

    <p class="title_form">
      <%= f.text_field :title, placeholder: "タイトル" %>
    </p>

    <p class="content_form">
      <%= f.text_area :content, placeholder: "内容" %>
    </p>

    <p class="image_form">
      <%= f.file_field :images, multiple: true %>
    </p>

    <%= f.submit %>
  <% end %>
</div>
