<div class="form">
  <%= form_with(model: @describe, local: true) do |f| %>
    <% if @describe.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @describe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @original_id %>
      <%= f.hidden_field :original_id, value: "#{@original_id}" %>
    <% end %>
  </div>

    <p class="title_form">
      <%= f.text_field :title, placeholder: "タイトル" %>
    </p>

    <p class="content_form">
      <%= f.text_area :content, placeholder: "内容" %>
    </p>

    <p class="image_form">
      <%= f.file_field :images, multiple: true %>
    </p>

    <%= f.submit %>
  <% end %>
</div>
