<div class="show">
  <% @all_describes.each do |describe| %>

  <h1><%= describe.title %></h1>
  <ul class="slider">
    <% describe.images.each do |image| %>
      <ul class="slider">
        <%= image_tag (image.url) if image.url%>
      </ul>
    <% end %>
  </ul>
  <p class="main"> <%= describe.content %></p>

  <div class="pages">
    <p class="page"><%= paginate @all_describes, window: 2 %></p>
  </div>

  <div id="comments_area">
    <% comments = describe.comments.where(reply_comment_id: nil) %>
    <%= render partial: 'comments/index', locals: { comments: comments, describe: describe } %>
  </div>

  <%= render partial: 'comments/plural_form', locals: { comment: @comment, describe: describe } %>
</div>

<div id="like_area" class="likes">
  <%= render partial: 'likes/like', locals: { like: @like, describe: @describe } %>
</div>

<div class="links">
  <% if user_signed_in? %>
    <% if current_user.id == describe.user_id %>
      <p><%= link_to "説明を更新する", new_describe_path(original: @describe), class: 'btn btn-info' %></p>
      <%= link_to '編集', edit_describe_path(describe), class: 'btn btn-success' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '削除', describe, method: :delete, data: { confirm: '本当に削除しますか' }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>
  <% end %>
