<div class="index col-md-7">
  <% @describes.each do |describe| %>
    <p>
      <%= link_to "#{describe.title}", describe, class: 'btn btn-default' %>
    </p>
  <% end %>
</div>

<div class="search col-md-5">
  <%= search_form_for @q, url: contributions_path do |f| %>
    <%= f.label :title %>
    <%= f.search_field :title_cont %>

    <%= f.submit "検索" %>
  <% end %>
</div>
