<div class="my_index">
  <% @describes.each do |describe| %>
   <div class="contribution">
     <%= link_to describe, class: "link"  do%>
       <p>
         <%= image_tag describe.user.profile_image.url %>
         <%= describe.user.name %>
         <i class="fas fa-heart" style="color:red"></i> <%= describe.likes_count %>
       </p>
       <p>
         <%= describe.title %>
       </p>
     <% end %>
  </div>
  <% end %>
  <div class="pages">
    <p class="page"><%= paginate @describes %></p>
  </div>
</div>
<div class="my_serach">
  <h3>自分の説明を検索する</h3>
  <%= search_form_for @my_q, url: contributions_path do |f| %>
    <p><%= f.search_field :title_cont, id: "my_q" %></p>

    <%= button_tag type: "submit", class: "search_icon" do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>
