<div class="index">
  <% @describes.each do |describe| %>
   <div class="contribution">
     <%= link_to describe, class: "link"  do%>
       <p>
         <%= image_tag describe.user.profile_image.url %>
         <%= describe.user.name %>
         <i class="fas fa-heart" style="color:red"></i> <%= describe.likes_count %>
       </p>
       <p>
         <% if describe.categories[0] %>
           <% describe.categories.each do |category| %>
             <%= category.name %>
           <% end %>
         <% end %>
       </p>
       <p>
         <% if describe.tags[0] %>
           <% describe.tags.each do |tag| %>
             <%= tag.name %>
           <% end %>
         <% end %>
       </p>
       <p>
         <%= describe.title %>
       </p>
     <% end %>
    </div>
  <% end %>
  <div class="pages">
    <p class="page"><%= paginate @describes %></p>
  </div>
</div>
