<div class="show">
  <h1><%= @describe.title %></h1>
  <p>
    <% @describe.images.each do |image| %>
     <%= image_tag (image.url) if image.url%>
    <% end %>
  </p>
  <p> <%= @describe.content %></p>
</div>

<div class="links">
  <% if user_signed_in? %>
    <% if current_user.id == @describe.user_id %>
      <%= link_to 'Edit', edit_describe_path(@describe), class: 'btn btn-info' %> |
      <%= link_to 'Destroy', @describe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, describe: @describe } %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment, describe: @describes } %>

<% unless @describe.user_id == current_user.id %>
  <% if @like.present? %>
    <%= link_to 'お気に入り解除する', like_path(id: @like.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', likes_path(describe_id: @describe.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
