<div class="change_password">
  <div class="change_form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "新しいパスワード" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "確認用パスワード" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードを変更する" %>
      </div>
    <% end %>
  </div>
</div>
